/*Give the animation a duration of 5s (only when the page is loaded)*/
#logo{
    animation-name: logo;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }

/*Animate the logo with keyframes.*/
/*Start with an opacity of 0 and then end with an opacity of 1.*/
/*make sure to start with a width or 25px and then grow to width of 475px*/
@keyframes logo{
0% {
    width:25px; 
    opacity: 0;
}
100% { 
    width: 475px; 
    opacity: 1;}
}

/*Give the body text a Poppins font and then serif as a backup*/
/*Assign the background color given in the spec and load the concrete_seamless image as a background*/
body {
    font-family: 'Poppins', serif;
    background-image: url(../images/concrete_seamless.png);
    background-color: #f1f1f1;
}

/*edit header tag for all instances to use flex*/
header {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/*edit nav_links to use flex*/
.nav_links {	
	display: flex;	
	flex-direction: column;	
}

/*CHALLENGE SECTION*/
/*keeps all the links the same color*/
.nav_links li a:visited {	
	color: #0000ff;	
}

/*use '>' to style the header elements that are direct children of card with the specifications given in the instructions*/
.card > header {	
	background: #288088;	
	border: solid 2px #45ADAD;	
	padding: 20px 0 20px 0;	
	border-radius: 50px 50px 0 0;	
}

/*use a flex-property to have the card class use flex*/
.card {
    flex-basis: 450px;
    border-radius: 50px 50px 0px 0px;
}

/*use a flex-property to have the pricing class use flex*/
.pricing {	
	display: flex;	
	flex-direction: row;	
	flex-wrap: wrap;	
	align-items: center;	
	justify-content: center;	
}

/*style images in the gallery class*/
.gallery img {	
	border: solid 10px #50C7C7;	
	margin: 10px;	
	width: 300px;	
}
	
/*edit gallery class to use flex*/
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*MEDIA QUERY FOR SCREENS GREATER THAN 900px*/
@media screen and (min-width: 900px) {	
	header, .nav_links {	
		display: flex;	
		align-items: center;	
		flex-direction: row;	
		justify-content: space-between;	
	}

    .pricing, .card {	
		flex-basis: 275px;	
	}

    body > header {	
		position: sticky;	
		top: 0;	
	}   
}

/*MEDIA QUERY FOR REDUCED MOTION*/
@media screen and (prefers-reduced-motion: reduce) {	
	#logo {	
		animation: 0s;	
	}	
 }	

 /*MEDIA QUERY FOR PAGE PRINTED IN PORTRAIT MODE*/
 @media print {	
	body {	
		font-family: Arial, Helvetica;	
		background-image: none;	
 	}

	nav {	
		width: 100%;	
	}	

	.nav_links {	
		flex-direction: row;	
		justify-content: space-around;	
	}	

	.pricing {	
		display: flex;	
		align-items: flex-end;	
		flex-wrap: nowrap;	
	}	

	.card {	
		border: solid 2px #45ADDD;	
		flex-basis: 325px;	
	}	
    
	#gallery, .gallery {	
		display: none;	
	}	

	.pricing li:nth-child(2)::after {	
        content: "👍";	
    }	
}
